<form>


  <div class="form-group row">
    <label for="AssetID" class="col-sm-2 col-form-label">AssetID</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="AssetID">
    </div>
  </div>


  <div class="form-group row">
    <label for="AssetName" class="col-sm-2 col-form-label">Asset Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="AssetName">
    </div>
  </div>


  <div class="form-group row">
    <label for="RatedPower" class="col-sm-2 col-form-label">Rated Power</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="RatedPower">
    </div>
  </div>


  <div class="form-group row">
    <label for="Efficiency" class="col-sm-2 col-form-label">Efficiency</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="Efficiency">
    </div>
  </div>


  <div class="form-group row">
    <label for="RatedSpeed" class="col-sm-2 col-form-label">Rated Speed</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="RatedSpeed">
    </div>
  </div>


  <div class="form-group row">
    <label for="MinRatedF" class="col-sm-2 col-form-label">Min RatedF</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="MinRatedF">
    </div>
  </div>


  <div class="form-group row">
    <label for="FluidDensity" class="col-sm-2 col-form-label">Fluid Density</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="FluidDensity">
    </div>
  </div>


  <div class="form-group row">
    <label for="ThresholdLimit" class="col-sm-2 col-form-label">Threshold Limit</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="ThresholdLimit">
    </div>
  </div>

  <div class="form-group row">
    <label for="SDiameter" class="col-sm-2 col-form-label">S Diameter</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="SDiameter">
    </div>
  </div>

  <div class="form-group row">
    <label for="DDiameter" class="col-sm-2 col-form-label">D Diameter</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="DDiameter">
    </div>
  </div>


  <div class="form-group row">
    <label for="ElevationDiff" class="col-sm-2 col-form-label">Elevation Diff</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="ElevationDiff">
    </div>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Save changes</button>

</form>